@model MatchBetModel

@if (ViewData["type"] == "header") {
	@Html.Partial(Url.Template("ListingHeader"), new Dictionary<string, string> { { "Username", "User" }, { "", "Bet" }, {"Bonus", "Bonus" }, { "PointsWonBonus", "Pts" }, { "WinTypeID", "Won" } });
}
else {
	var winType = Model.WinTypeID.ToEnum<WinType>();
	
	<td><img class="icon thumb" src="@Url.GetUserImage(Model.Username)" /> <span>@Model.UserDisplayName</span></td>
	<td>
		<span class="FirstTeamGoals">@Model.FirstTeamGoals</span>
		<span>&nbsp;-&nbsp;</span>
		<span class="SecondTeamGoals">@Model.SecondTeamGoals</span>
	</td>
	<td>@Model.Bonus</td>
	<td>@(winType != WinType.None ? Model.PointsWonBonus.ToString() : "")</td>
	<td>
		@switch (winType)
		{
			case WinType.Result	:	<text><span class="bet-win @(Model.Bonus == 0 ? "bet-win-result" : "bet-win-result-bonus")"></span></text>; break;
			case WinType.Score	:	<text><span class="bet-win @(Model.Bonus == 0 ? "bet-win-score" : "bet-win-score-bonus")"></span></text>; break;
			case WinType.Nothing:	<text><span class="bet-win bet-win-none"></span></text>; break;
		}
	</td>
}