@model UserModel

@if (ViewBag.Type == "item")
{
	<p class="standing-position">
	@{ var pos = Convert.ToInt32(ViewBag.Data["totalIndex"]) + 1; }

		@if (pos == 1) {
			@pos<text>st</text>
		}
		else if (pos == 2) {
			@pos<text>nd</text>
		}
		else if (pos == 3) {
			@pos<text>rd</text>
		}
		else {
			@pos<text>th</text>
		}
	</p>
	<div><img class="icon full" src="@Url.GetUserImage(Model.Username)" /></div>
	<p><b>@Model.DisplayName</b></p>
	<p><b>@Model.Points</b> point@(Model.Points != 1 ? "s" : "")</p>
}