<!--start menu-->
<div class="menu">
    <nav>
        <ul>
            <li><a href="@Url.Action("Index", "Dashboard")" class="grn @if (ViewBag.Module == Module.Dashboard) { <text>selected</text> }">DASHBOARD</a></li>
            <li><a href="@Url.Action("Index", "MyBets")" class="grn @if (ViewBag.Module == Module.MyBets) { <text>selected</text> }">GLOBAL BETS</a></li>
            <li><a href="@Url.Action("Index", "UserBets")" class="grn @if (ViewBag.Module == Module.UserBets) { <text>selected</text> }">USER BETS</a></li>
            <li><a href="@Url.Action("Index", "RoundBets")" class="grn @if (ViewBag.Module == Module.RoundBets) { <text>selected</text> }">ROUND BETS</a></li>
            <li><a href="@Url.Action("Index", "Teams")" class="grn @if (ViewBag.Module == Module.Teams) { <text>selected</text> }">TEAMS</a></li>
            <li><a href="@Url.Action("Index", "Help")" class="grn @if (ViewBag.Module == Module.Help) { <text>selected</text> }">RULES</a></li>
        </ul>
    </nav>
</div>
<!--end menu-->