<!DOCTYPE html>
<html>
<head>
    @Html.Partial(Url.Include("Meta"))
	@Html.Partial(Url.Include("MainCSS"))
    @Html.Partial(Url.Include("HeadJS"))

	@RenderSection("ExternalsCSS", required: false)

    @Html.Partial(Url.Include("DeviceCSS"))
</head>

<body class="layout @ViewBag.LayoutType-layout page-@((ViewBag.Name ?? "").ToLower())">

    <div id="hero" class="hero-@(new Random((int)DateTime.Now.Ticks).Next(1,12))"></div>

    <div>
	    <!--start header-->
	    <header class="clearfix">

		    <div class="main clearfix">

			    <!--start title-->
			    <a href="@Url.Action("Index", "Dashboard")"><h1 class="fontface pointer left" id="title">EURO 16</h1></a>
			    <!--end title-->

			    <img class="logo" src="@Url.Img("logo.png")"/>

                <div class="account">
                    @{ Html.RenderPartial("_LogOnPartial"); }
                </div>
		    </div>

            <div class="menu-container">
                @Html.Partial(Url.Template("Menu"))
            </div>

		    @* <div class="bottom"> </div> *@

	    </header>
	    <!--end header-->

	    <div id="container">
		    @RenderBody()
	    </div>

        <footer>
            <div>&nbsp;&nbsp;Icons by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a></div>
            <div>LynxBets 2010-2016</div>
        </footer>
    </div>

    @Html.Partial(Url.Include("MainJS"))
    @RenderSection("ExternalsJS", required: false)
</body>

</html>
