@model PagedList<IModel>
@{ Layout = null; }
@{ 
	var viewName = "_" + (((string)ViewBag.ItemTemplateName) ?? (string)ViewBag.PageType) + "ListingItem";
	var listingDataViewExists = Html.ViewExists(viewName);
}

<div class="listing-wrapper">

	@Html.Partial(Url.Template("ListingActions"))

	<table class="@(Model.FullRows ? "full-rows" : "") listing-table">

		@if (listingDataViewExists) {
			@Html.Partial(viewName, null, new ViewDataDictionary { { "type", "header" } });
		}
		else {
			@Html.Partial(Url.Template("ListingHeader"), (Dictionary<string, string>)ViewBag.Headers)
		}

		<tbody>
			@foreach (var item in Model.Select((m, i) => new { m = m, index = i })) {
				<tr class="@(item.index % 2 == 1 ? "alt-row" : "") listing-item" data-id="@item.m.ID" @if (item.m.Timestamp != null) { <text>data-timestamp=@(item.m.Timestamp.ToString().Replace("\"",""))</text>} >

					@if (listingDataViewExists) {		
						ViewBag.Data = new ViewDataDictionary { { "index", item.index }, { "totalIndex", Model.PageSize * (Model.CurrentPage - 1) + item.index }, { "count" , Model.TotalCount } };
						@Html.Partial(viewName, item.m, new ViewDataDictionary { { "type", "item" } });
					}
					else {
						foreach (var data in item.m.GetListingData(ViewBag.ParentModule)) {
							<td>
								@if (ViewBag.HasDetailPage) {
									<a href="@Url.Action("Detail", ViewBag.Name, item.m.GetRouteParameters(ViewBag.ParentModule))">@(data)&nbsp;</a>
								}
								else {
									@(data)
								}
							</td>
						}
					}
					
				</tr>
			}
		</tbody>
	</table>
</div>

@if (Model.TotalPages > 1) {
	@Html.Partial("_Pagination")
}
