@model WinnerPointsModel

@if (ViewBag.Type == "item")
{
    <td>
        <img class="icon thumb" src="@Model.UserImageUrl" />
        @Model.UserDisplayName
    </td>
    <td>
        <img class="flag" src="@Model.TeamFlagUrl" />
        @Model.TeamName
    </td>

    <td><b>@Model.TeamPoints</b></td>

    <td>
        @if (Model.BetWon) {
            <span class="bet-win bet-win-result"></span>
        }
        else {
            <span class="bet-win bet-win-none"></span>
        }
    </td>
}
else
{
    <td>User</td>
    <td>Team</td>
    <td>Points</td>
    <td></td>
}